<% if current_user %>
    <% if  current_user.email == "admin@gmail.com"%>
    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Welcome!</strong> You are Signed in as Admin
    </div>
    <%= render 'admin' %>
    <% elsif current_user.infected %>
    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Welcome!</strong> You are Signed in as Infected
    </div>
    <%= render 'infected' %>
    <%else%>
    <div class="alert alert-success alert-dismissible">
      <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <strong>Welcome!</strong> You are Signed in as Survivor
    </div>

    <%= render 'survivor' %>
  <%end%>

<% else %>
  <nav class="navbar navbar-expand-lg navbar-dark" style="background: black">
  <a class="navbar-brand logo-font text-danger" style="font-size: 40px;" href="#">Deathlok Survival</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto my-2 my-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
    </ul>
      <div class="my-2 my-lg-0">
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><%= link_to "Sign In", new_user_session_path %></button>
        <button class="btn btn-outline-danger my-2 my-sm-0" type="submit"><%= link_to "Create Account", new_user_registration_path%></button>
      </div>
    </div>
  </nav>
  <%= render 'main' %>

<% end %>


