<%= render 'navbar' %>
<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-between">
  <h1>Resources</h1>
  <%= link_to 'New Resource', new_resource_path %>
</div>

<div class="text-center center">
    <div class="row">
    <% @resources.each do |resource| %>
        <div class="col-md-3 col-xs-6 bg-light">
            <div class="icon">
                <div class="thumbnail" > 
                    <%= image_tag(resource.image, style: "width: 200px; height: 200px") if resource.image.attached?%>
                </div>
                <div class="caption">
                    <h3><%= resource.item_name%></h3>
                    <h5><%= resource.points %> points</h5>
                    <p><%= link_to 'Show', resource %> | 
                        <%= link_to 'Edit', edit_resource_path(resource) %> | 
                        <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </p>
                </div>
            </div>
        </div>
      <% end %>
    </div>
</div>