<%= render 'navbar' %>

<div class="d-flex justify-content-around">
  <h1>Add Resources</h1>
    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">
        <i class="fa fa-plus"></i>
        <%= link_to 'New Resource', new_resource_path %>
    </button>
</div>
<br />
<div class="text-center center">
    <div class="row">
    <% @resources.each do |resource| %>
        <div class="col-md-3 col-xs-6" style="background: black">
            <div class="icon">
                <div class="thumbnail" > 
                    <%= image_tag(resource.image, style: "width: 200px; height: 200px") if resource.image.attached?%>
                </div>
                <div class="caption">
                    <h3><%= resource.item_name%></h3>
                    <h5><%= resource.points %> points</h5>
                    <p><%= link_to 'Show', resource %> | 
                        <%= link_to 'Edit', edit_resource_path(resource) %> | 
                        <%= link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' } %>
                    </p>
                </div>
            </div>
        </div>
      <% end %>
    </div>
</div>