<p id="notice"><%= notice %></p>

<div class="d-flex justify-content-around">
  <h3><%= @resource.item_name %></h3>
  <div>
    <%= link_to 'Edit', edit_resource_path(@resource) %> |
    <%= link_to 'Back', resources_path %>
  </div>
</div>
<br />

<div class="text-center">
<p>
  <strong>Points:</strong>
  <%= @resource.points %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag(@resource.image, style: "width: 200px") if @resource.image.attached? %>
</p>

</div>
